* {
  letter-spacing: -0.5px;
  box-sizing: border-box;
}
body {
  background-color: #0f0f0f;
}
img {
  width: 100%;
}
input,
textarea {
  background-color: hsl(0, 1%, 20%);
}
.noInput {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.full-h {
  height: calc(100vh - 60px);
}
input:focus {
  border: 0;
  outline: none;
}
textarea {
  resize: none !important;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* scroll bar */
*::-webkit-scrollbar {
  background-color: #717171;
  padding: 1px;
  width: 5px;
  /* border-radius: 10px; */
}
*:hover::-webkit-scrollbar {
}
*::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: grey;
  /* border-radius: 10px; */
  box-shadow: inset 0px 0px 5px white;
}
*:has(.noscroll)::-webkit-scrollbar {
  display: none;
}
.contentView:has(.noscroll) {
  overflow-y: none;
  max-height: 100vh;
}
.contentView {
  overflow-y: scroll;
  width: 100%;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
}

.modal-bg {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-bg .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.modal .modalBtn {
  z-index: 99;
  position: absolute;
  right: 3%;
  bottom: 3%;
  min-width: 1rem;
  min-height: 1rem;
  background-color: rgb(59, 130, 246);
  color: white;
  padding: 2%;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* loading */
.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
  /* height:100%; */
}
.spinner {
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-top: 6px solid rgb(59, 130, 246);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  margin-top: 20px;
  font-size: 24px;
}

/* navLeft */
.navLeftContent {
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  transition: 0.5s;
  -ms-overflow-style: none;
}
.navLeftContent:hover::-webkit-scrollbar {
  display: block;
}
.navLeftContent::-webkit-scrollbar {
  display: none;
}
.navLeftContent.active {
  transition: 0.5s;
  position: absolute;
  left: -200%;
}
.navLeftContent h2 {
  transition: 0.5s;
}
.navLeftContent.active h2 {
  /* display:none;
  opacity: 0;
  font-size:0 */
}
.navLeftContent .navBox {
  transition: 0.5s;
}
.navLeftContent.active .navBox {
  /* display: none;
  opacity: 0; */
}

/* buttonDom */
.etc.on .buttonDom {
  right: 10%;
  opacity: 1;
  /* animation: buttonDom 0.5s;
  animation-fill-mode: forwards; */
}
.etc .buttonDom {
  right: -400%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  background-color: white;
  min-width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.etc .buttonDom button {
  min-width: 25px;
  word-break: keep-all;
  margin: 0 5px;
  color: black;
  font-size: 1rem;
  text-shadow: 1px 1px 3px #717171;
}
.etc .buttonDom button.close {
  min-width: 10px;
  width: 15px;
}
@keyframes buttonDom {
  0% {
    display: none;
    opacity: 0;
  }
  10% {
    display: block;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    right: 10%;
  }
}

/* tooltip */
.tooltip {
  position: relative;
}
.tooltip:hover .tooltip-content,
.tooltip:focus .tooltip-content {
  animation: tooltip 0.5s;
  animation-fill-mode: forwards;
}

.tooltip .tooltip-content {
  opacity: 0;
  transition: 0.5s;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
  /* box-shadow: 1px -1px 5px rgb(185, 185, 185); */
  background-color: white;
  color: black;
  padding: 7px 8px;
}

@keyframes tooltip {
  0% {
    display: none;
    opacity: 0;
    top: 100%;
  }
  10% {
    display: block;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

.selectBox {
}
.selectBox input:focus .selectBoxUnder {
  display: block;
}
.selectBox .selectBoxUnder {
  display: none;
}

/* myIcon */
.myIcon {
  position: relative;
}
.myIcon:hover {
  color: rgb(250, 89, 89);
  background-color: rgb(86, 207, 255);
  transition: 0.2s;
  transition-property: color background-color;
  border-radius: 7.5px;
  padding: 3px;
}

.tooltip-basic {
  position: absolute;
  background-color: #fff;
  padding: 3px 5px;
  transform: translateX(-50%);
  left: 50%;
  top: 135%;
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 1.5em;
  border-radius: 5px;
  display: none;
  word-break: keep-all;
}

.tooltip-basic::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #fff;
  border-top: 0;
  margin-left: -5px;
  margin-top: -5px;
}
