* {
  letter-spacing: -0.5px;
  box-sizing: border-box;
}
body {
  background-color: #0f0f0f;
}
img {
  width: 100%;
}
input {
  background-color: hsl(0, 0%, 7%);
}
textarea {
  resize: none !important;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentView {
  overflow-y: scroll;
  width: 100%;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
}

.modal-bg {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-bg .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.modal .modalBtn {
  z-index: 99;
  position: absolute;
  right: 3%;
  bottom: 3%;
  min-width: 1rem;
  min-height: 1rem;
  background-color: rgb(59, 130, 246);
  color: white;
  padding: 2%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 24px;
}

.navLeftContent {
  transition: 0.5s;
}
.navLeftContent .navBox {
  transition: 0.5s;
}
.navLeftContent.active .navBox {
  /* display: none; */
  opacity: 0;
}

.navLeftContent.active {
  padding: 0;
  width: 0;
}
